<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/clubs.css">
    <div class="row">
        <h1 class="text-center">New Club</h1>
        <div class="col-6 offset-3">
            <form action="/clubs" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="clubName">Club Name</label>
                    <input class="form-control" type="text" name="club[clubName]" id="clubName" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Provide a club name.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="manager">Manager</label>
                    <input class="form-control" type="text" name="club[manager]" id="manager" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Provide a manager.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="stadium">Stadium Name</label>
                    <input class="form-control" type="text" name="club[stadium]" id="stadium" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Provide a stadium name.
                    </div>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                    <select class="form-select" id="inputGroupSelect01" required>
                        <option selected>Choose...</option>
                        <option value="1">4-3-3</option>
                        <option value="2">4-4-2</option>
                        <option value="3">3-4-3</option>
                        <option value="4">4-2-3-1</option>
                        <option value="5">4-2-2-2</option>
                        <option value="6">4-4-1-1</option>
                        <option value="7">3-1-4-2</option>
                        <option value="8">3-5-2</option>
                        <option value="9">5-3-2</option>
                    </select>
                </div>

                <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Choose an image of the lineup</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div>


                <div class="mb-3">
                    <button class="btn btn-success">Add Club</button>
                </div>
            </form>
            <a href="https://www.buildlineup.com/" target="_blank" class="lineup-button">Lineup</a>


        </div>
    </div>